:root{
   --bg-color: #16ffbd;
   --primary-c: #111;
   --hl-color: #ff8dac;
}
*{  padding: 0;
    margin: 0;
    font-size: 16px;
}
html{
    scroll-behavior:smooth;
}
body{
    background: var(--bg-color); 
    font-family: 'Work Sans', sans-serif;
    line-height: 2;
}
::selection{
    background: var(--hl-color);
}
a{
    color: var(--primary-c);
    text-decoration: none;
    padding: 10px;
    transition: color .2s ease-in-out;
}

a:hover{
    color: var(--hl-color);

}
h2, h3, span{
    font-family: 'Barlow Condensed', sans-serif;
}
h2, span{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;

}
span{
    text-decoration: line-through;
}
h3{
    font-size: 1.5rem;
      
}
.main-container{
    margin-top: 0;
}
.container{
    width: 1080px;
}
.box-sizing{
   box-sizing: border-box; 
}
.menu{
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 10px auto 0 auto;
    padding-top: 20px;
    width: 50%;
    align-items: center;

}
.menu div{
    width: 33%;
    
}
.menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.menu ul li{
    animation-name: opening-logo;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}
.menu a{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.7rem;
}
.menu .logo img{
    width: 150px;
    animation-name: opening-logo;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}
.menu-mobile{
    display: none;
}
.menu-mobile a:hover svg{
    fill: var(--hl-color);
}
.menu-mobile .header{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}
.menu-mobile .header .logo{
    flex-grow: 2;
    text-align: center;
}
.menu-mobile .header .logo img{
    width: 94px;
    animation-name: opening-logo;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    padding-left: 39px; 
}
.menu-mobile ul{
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;

}
.menu-mobile ul li {
    text-align: center;
    list-style: none;

}
.menu-mobile ul li a{
    text-align: center;
    padding: 20px 0;

}
.menu-mobile__closed{
    display: none;
}
.main-video{
    margin-top: 150px;
    transform-origin: 0 0;
    transform: skewY(-7deg);
    overflow: hidden;
    margin-bottom: 150px;
}
.main-video .video{
    overflow: hidden;
    transform: skewY(7deg) scale(1.6, 1.6);
}
.main-video .video video{
    width: 100%;
}
.intro{
    text-align: center;
    width: 320px;
    margin: 0 auto;
    margin-top: -100px;
    padding-bottom: 100px;
}

.work{
    padding-top: 150px;
    transform-origin: 0 0;
    transform: skewY(-10deg);
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
}
.grid .item{
   padding: 0;
   position: relative; 
   overflow: hidden;
   height: 200px;
}
.grid .item img{
    width: 101%;
    margin-top: -2px;
    transform: skewY(10deg) scale(1.5,1.5);
    transition: all 0.075s;
}
.grid .item:hover img{
    transform: skewY(10deg) scale(1.4,1.4);
}
.grid .item .bg-hover{
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 150%;
    display: grid;
    position: absolute;
    z-index: 5;
    top: -25%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    transform: skewY(10deg) scale(1,1);
    align-items: center;
    justify-content: center;
    text-align: center;
}
.grid .item .bg-hover:hover{
    overflow: hidden;
    opacity: 1;
}
.grid .item:hover .bg-hover .info{
    animation-name: bounce;
    animation-duration: 0.4s;

    animation-timing-function: ease-in-out;
}
.grid .item .bg-hover .titulo{
    color: white;
}
.grid .item .bg-hover .customer{
    color: var(--bg-color);
}
.about{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 150px;
}
.about__columns{
    margin: 40px 50px;
    
    
}
.a__columns h3{
    padding-bottom: 9px;
}
.a__columns{
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
}
.columns{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 20px;
}
.margin{
    padding: 20px;
}
.contact{
    background: #111;
    padding-top: 100px;
    color: white;
    transform: skewY(-5deg);
}
.contact .contact-container{
    transform: skewY(5deg);
    color: var(--bg-color);
    margin: 0 auto;
}
.contact .contact-container h3{
    color: whitesmoke;
}
.social{
    margin: 0;
}
.social a:hover path{
    fill: var(--hl-color);
}

.footer{
    background-color: #111;
    height: 280px;
    margin-top: -158px;
}
#screen{
    background-color: var(--hl-color);
    position: fixed;
    z-index: 100;
    top: -280px;
    left: 0;
    width: 100vw;
    height: 10vh;
    transform: skewY(-10deg);
    transition: all 0.45s;
    animation-timing-function: lineal;
    animation-duration: 2s;
}
.details-container{
    background: var(--bg-color);
    position: fixed ;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: auto;
    display: none;
}
.details-container .nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.item-hide{
    display: none;
}
.details-container .items{
    width: 60%;
    margin: 0 auto;
}
.details-container .items .item .main-image img{
    width: 100%;
    height: 60vh;
    border-radius: 2%;
}
.details-container .items .item .title{
    text-align: center;
}
.main-image img{
    object-fit: cover;
    width: 100%;
}
.title{
    color: var(--hl-color);
}



@keyframes opening-logo{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes bounce{
    0%{transform: translateY(500px);}
    80%{transform: translateY(-30px);}
    100%{transform: translateY(0px);}
}
@keyframes fade-in{
   0% {height: 0vh;}
   50% {height: 150vh;}
   100% {height: 0vh;}
}
@media screen and (min-width: 1280px){
    .main-video{
        height: 50vh; 
    }
    .about__columns{
        margin-top: 30px;
    }
  
}
@media screen and (max-width: 1280px){
    .main-video{
        height: 50vh; 
     }
     .grid{
         grid-template-columns: 1fr 1fr 1fr;
       
    }
     .grid .item{
        height: 225px;
     } 
  
}
@media screen and (max-width: 1100px){
    .menu .logo img{
        width: 95px;
    }
    .menu ul li a{
        font-size: 25px;
    }
    .menu ul{
        gap: 40px;
    

}
@media screen and (min-width: 900px){
    .grid .item{
        height: 170px;
     }
    .contact-container h2{
        margin-left: -59px;
    }
  
}
@media screen and (max-width: 900px){
    .menu{
        display: none;
    }
    .menu-mobile{
        display: block;
       
    }
    .columns{
        display: block;
        align-items: center;
        text-align: center;
    }
    .menu-mobile .logo img{
        margin-top: 25px;
    }
    .grid .item{
        height: 200px;
     }
     .grid{
        grid-template-columns: 1fr;
      
   } 
}
@media screen and (max-width: 800px){
    .main-video{
        height: 300px; 
     }
    .main-video .video video{
        margin-top: 0px;
    } 
    .main-video .video{
        transform: skewY(7deg) scale(1.7, 1.7);
    }
    .grid .item{
        height: 170px;
     }
     .grid{
        grid-template-columns: 1fr 1fr;
   } 
   .a__columns{
    display: block;   
    }
    .columns{
        display: block;
        align-items: center;
        text-align: center;
    }
}
@media screen and (max-width: 540px){
    .main-video{
        margin-top: 100px;
        height: 250px;
     }
  
     .main-video .video{
        overflow: hidden;
        transform: skewY(7deg) scale(1.7, 1.7);
    }
  
}